
#page-top {
    overflow: auto;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: rgb(44, 44, 44);
}

#screen{
    padding-top: 100px;
    width:80%;
    margin:auto;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;
}

nav, a {
    text-transform: uppercase;
    color: rgb(199, 223, 223);
}

nav a.active {
    color: rgb(26, 116, 151);
    font-weight: bold;
}

nav a:hover {
    color: rgb(26, 116, 151);
}

.container .tab-content h2 span{
    font-weight: bold;
}

#box {
    border-radius: 25px;
    background: rgb(199, 223, 223);
    padding: 5px; 
    width: 180px;
    height: 35px; 
    margin-top: 20px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 20px;
}

.bi {
    color: rgb(44, 44, 44);
    padding: 5px;
}

.container .tab-content p{
    padding-top: 0px;
    text-align: left !important;
}

.btn {
    background-color: rgb(26, 116, 151)!important;
    color: white;
    border-color:  rgb(26, 116, 151)!important;
}

.btn .bi{
    color: white;
}

.content {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
}

.content p{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    padding: 5px;
    line-height: 30px;
}

.content hr {
    border-left: 30px rgb(26, 116, 151) solid;
	height: 5px;
	width: 40px;
    text-align: left !important;
    margin-left: 0px;
}

.resume-title {
    font-size: 26px;
    font-weight: 600 !important;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #222222;
    font-family: 'Merriweather Sans', sans-serif;
}

.resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #34b7a7;
    position: relative;
    margin-left: 25px;
  }

  .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #1d685f;
    margin-bottom: 10px;
  }
  
  .resume-item h5 {
    font-size: 16px;
    background: #effbf9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
    color: #34b7a7;
  }

  .resume-item:last-child {
    padding-bottom: 0;
  }

  .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #34b7a7;
  }

  .skills .progress {
    height: 50px;
    display: block;
    background: none;
  }
  
  .skills .progress .skill {
    padding: 10px 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #222222;
  }
  
  .skills .progress .skill .val {
    float: right;
    font-style: normal;
  }
  
  .skills .progress-bar-wrap {
    background: #f3f3f3;
  }
  
  .skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: .9s;
    background-color: #34b7a7;
  }

  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #34b7a7;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .section-title p {
    margin-bottom: 0;
  }

